---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
    <section>
        <h1>
            <span class="separator header-accent">learn more</span>
            <br />
            <span class="separator">ABOUT ME</span>
        </h1>

        <div class="details">
            <p>
                Hi! I am <span class="accent-color accent-text">Janelle</span>,
                and I am a full-stack developer.
            </p>

            <p>
                Other than that, I also love learning about
                <span class="accent-color">
                    robotics, and UI/UX design, and DevOps!
                </span>
                My love for robotics was discovered during my 12th grade in SHS,
                when we were taught Arduino during our robotoics class by a great
                teacher! That was also my first experience with coding! I got interested
                in UI/UX design in the late 2023; and my interest in DevOps was piqued
                by my experience with handling and maintaining the OCP website!
            </p>

            <p>
                Some of my hobbies include playing the piano and reading! I read
                books, webtoons, manga, manhwa/manhua, too. A favorite of mine
                is the Remarried Empress!
            </p>

            <p>
                I also love <span class="accent-color">art</span>, and <span
                    class="accent-color">video games</span
                >! ❤
            </p>
        </div>
    </section>
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Qwitcher+Grypen:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

    h1 {
        text-align: center;
        margin: 10% 0;
    }

    .separator {
        font-size: 60px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }

    .header-accent {
        font-family: "Qwitcher Grypen", cursive;
        margin-left: -20%;
    }

    p {
        font-size: 27px;
        color: #000000;
        font-weight: 400;
        font-family: "Manrope", sans-serif;

        margin-top: 6%;
    }

    section {
        margin: 0 15%;
    }

    .accent-color {
        color: #90420a;
    }

    .accent-text {
        font-weight: 700;
    }

    /* FOR MOBILE VIEW */
    @media screen and (max-width: 1200px) {
        h1 {
            text-align: center;
            margin: 50px 0;
        }
        .separator {
            font-size: 45px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
        }
        .header-accent {
            font-family: "Qwitcher Grypen", cursive;
            margin-left: -30%;
        }

        p {
            font-size: 18px;
            color: #000000;
            font-weight: 400;
            font-family: "Manrope", sans-serif;
            margin-top: 5%;
        }

        section {
            margin: 0 15%;
        }

        .accent-color {
            color: #90420a;
        }

        .accent-text {
        }
    }

    @media screen and (max-width: 600px) {
        h1 {
            text-align: center;
            margin: 90px auto 0 auto;
        }
        .separator {
            font-size: 40px;
            font-family: "Manrope", sans-serif;
            font-weight: 400;
        }
        .header-accent {
            font-family: "Qwitcher Grypen", cursive;
            margin-left: -70%;
        }

        p {
            font-size: 18px;
            color: #000000;
            font-weight: 400;
            font-family: "Manrope", sans-serif;
            margin-top: 15%;
        }

        section {
            margin: 0 15%;
        }

        .accent-color {
            color: #90420a;
        }

        .accent-text {
        }
    }
</style>
