---
import Project from '../components/Project.astro'
import MyLayout from "../layouts/MyLayout.astro"
import Introduction from '../components/Introduction.astro';
import Project_Section from '../components/Project_Section.astro'
import Certificate_Section from '../components/Certificates_Section.astro'
---

<MyLayout title="Janelle Uy">
  <main>
    <Introduction/>

    <section class="project-section" id="Projects">
      <div>
        <h1 class="section-title">PROJECTS & EXPERIENCES</h1>
      </div>
      
      <div class="project-div">
          <Project_Section/>
      </div>
    </section>

    <section class="certificate-section" id="Certificates">
      <div>
        <h1 class="section-title">CERTIFICATES & LICENSES</h1>
      </div>
      
      <div class="certificate-div">
        <Certificate_Section/>
      </div>
    </section>
  </main>
</MyLayout>


<style>
  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    height: 100vh;
    background-image: linear-gradient(to right, #77aeae, #D3E1E1);
  }

  .project-div {
    width: 60vw;
    overflow: auto;
    align-self: center;
    margin: 5% 0;
  }

  .project-div::-webkit-scrollbar {
    width: 8px;
  }

  .project-div::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .project-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
  .section-title {
    margin-top: 7%;
    margin-left: 10%;
    font-size: 1.6rem;
  }

  .certificate-section {
    /* background-color: #D3E1E1; */
    color: #D3E1E1;
    background-image: linear-gradient(to right, #000000, #072D2D);
    display: flex;
    flex-direction: column;
    height: 75vh;
  }

  .certificate-div {
    margin: 3% 0;
    align-self: center;
    /* width: 80vw; */
  }
  

</style>

