---
import Layout from "../layouts/Layout.astro";
import ProjectCardv2 from "../components/ProjectCardv2.astro";
---

<Layout title="Janelle's Projects">
  <h1>MY PROJECTS</h1>

  <div class="projects">
    <ProjectCardv2
      id="ocp"
      img_src="/assets/ocp-website.png"
      project_name="MMCM OCP Website"
      project_link="https://www.mmcm-ocp.com"
      project_types={[{ type: "Web Development", className: "web-dev" }]}
      timeline="March 2022 - Present"
      roles={[
        "Database Manager & Engineer (June 2022-2024)",
        "Backend Developer  (March 2022-2024)",
        "Backend Lead (June 2022-2024)",
      ]}
      contributions={[
        "Developed server-side logic such as: cron jobs, exporting information into excel files, database queries, scripts, etc.",
        "Created efficient database queries for all data.",
        "Designed and implemented MySQL database, and REST APIs.",
        "Participated in planning, and communicating with the administrators and staffs, and other teams and members to effectively carry out tasks, and implement new features on time.",
        "Reduced redundant and manual labor by creating automated and scheduled tasks (email sending, contract expiration checker, etc.).",
        "Contributed to site deployment and maintenance with Vultr Object Storage, Linux VPS",
      ]}
      description="Developed a website for the Mapua Malayan Colleges Mindanao (MMCM) Office of Corporate Partnerships (OCP) to monitor company partnerships and student internship data.."
      tools="NodeJS, MySQL, ReactJS, Ubuntu-based Virtual Private Server"
    />

    <ProjectCardv2
      id="ecd"
      img_src="/assets/ecd-dsa.png"
      project_name="ECD-DSA: Estimating Crowd Density to Detect Sparse Areas"
      project_link=""
      project_types={[
        { type: "Software Development", className: "software-dev" },
        { type: "Machine Learning", className: "machine-learning" },
      ]}
      ,
      timeline="October 2023 - January 2024"
      roles={[
        "Software Developer  (Oct 2023 - Feb 2024)",
        "Model Training (Nov 2023 - Jan 2024)",
      ]}
      contributions={[
        "Created and planned server-side logic, and system",
        "Proposed main methodology for estimating crowd density.",
        "Created an alarm and notification system using event-driven architecture (Socket.IO) for informing personnel in-charge of emergency situations real-time.",
        "Trained artificial intelligence models, specifically YOLOv8 models, to improve model accuracy and performance in detecting humans real-time to estimate the crowd density.",
        "Deployed the server to Render (web service) for the network socket communication used by the alarm system",
      ]}
      description="This is an undergraduate thesis project created to help monitor crowd density and detect sparse areas from connected cameras; and generate alerts for rising crowd density, and overcrowding. Alerts generated are forwarded to other computers to alert other officers."
      tools="Python, PyQt5, YOLOv8, Render"
    />

    <ProjectCardv2
      id="utilitycrate"
      img_src="/assets/ccis-website.png"
      project_name="UtilityCrate"
      project_link=""
      project_types={[
        { type: "Software Development", className: "software-dev" },
        { type: "Machine Learning", className: "machine-learning" },
      ]}
      timeline="December 2022 - March 2023"
      roles={[
        "Backend Developer (Nov 2023- Jan 2024)",
        "Model Trainer (Nov 2023 - Jan 2024)",
      ]}
      contributions={[
        "Created server-side logic and REST APIs to support frontend functionalities",
        "Worked together with designer and frontend developer to plan and implement features and functionalities for the app",
        "Created database design for data storage",
        "Created database queries for fetching information from the database",
        "Deployed the server to Render for a short amount of time for user acceptance testing purposes.",
        "Fitted a linear regression model to predict the estimated time for a task to be completed by a user based on past performance.",
      ]}
      description="This is a mobile application made for our Software Engineering course that aims to improve productiveness by means of scheduling, note-taking, and task listing for individual and organizational use.."
      tools="NodeJS, Flutter, Render, Rest API"
    />

    <ProjectCardv2
      id="ccis-website"
      img_src="/assets/ccis-website.png"
      project_name="MMCM CCIS Website"
      project_link=""
      project_types={[{ type: "Web Development", className: "web-dev" }]}
      timeline="July 2021 - August 2021"
      roles={["Backend Developer (Jul 2021 - Aug 2021)"]}
      contributions={[
        "Created  functionality for viewing, adding and editing faculties and student officers per school year",
        "Created pages using EJS for viewing information on faculties and student officers per school year",
      ]}
      description="This is a voluntary project we made for the Mapua Malayan Colleges Mindanao (MMCM) Computing Students Society (CSS) to allow students to post their projects, and to get updates on school events."
      tools="NodeJS, ReactJS, REST API"
    />

    <ProjectCardv2
      id="ccis-bot"
      img_src="/assets/proj-discord-icon.png"
      project_name="MMCM CCIS Discord Bot"
      project_link=""
      project_types={[{ type: "Discord Bot", className: "discord-bot" }]}
      timeline="June 2022"
      roles={["Lead Developer (June 2022)"]}
      contributions={[
        "Created function to parse excel file for information on enrolled students for the academic year using NodeJS, and xlsx library.",
        "Created database schema to store the students’ information for verifying discord registration status",
        "Created custom discord command to register enrolled members and automatically assign roles to their respective year levels based on the information from the excel file",
      ]}
      description="This discord bot was made to verify the enrollment status of students, and to assign roles and permissions to each student based on their year levels in the discord server of Mapua Malayan Colleges Mindanao, College of Computer and Information Science (CCIS)."
      tools="NodeJS, MongoDB, Discord"
    />

    <ProjectCardv2
      id="mcm-cup-bot"
      img_src="/assets/proj-discord-icon.png"
      project_name="MCM Cup 2022  Mobile  Legends Discord Bot"
      project_link=""
      project_types={[{ type: "Discord Bot", className: "discord-bot" }]}
      timeline="March 2022"
      roles={["Lead Developer (March 2022)"]}
      contributions={[
        "Created function to encode participants’ data from discord to database manually, since the forms were handwritten.",
        "Encoded participants’ data into the database with the help of other Computing Students Society officers (2021-2022).",
        "Created database schema to store the participants’ information for verifying discord registration status during the competition",
        "In-charge of troubleshooting any problems that arose with regards to the Discord registration process during the event.",
        "Created custom discord command to allow participants to register themselves, and automatically assign roles to their respective schools based on the information stored in the database",
      ]}
      description="This discord bot was made to verify,  register, and assign roles to participants of the Mobile Legends competition based on their teams during the 2022 MCM Cup."
      tools="NodeJS, MongoDB, Discord"
    />

    <ProjectCardv2
      id="face-mask-ml"
      img_src="/assets/proj-machine-learning-icon.png"
      project_name="Face Mask Detection"
      project_link="https://github.com/JCU25/Face-Mask-Detection-and-Counting"
      project_types={[
        { type: "Machine Learning", className: "machine-learning" },
      ]}
      timeline="November 2023"
      roles={["Model Trainer (November 2023)"]}
      contributions={[
        "Researched datasets for training the model to detect people with and without masks, and those with masks worn incorrectly.",
        "Trained dataset on YOLOv8 models.",
        "Tested model detection capabilities through random images in Jupyter notebook.",
      ]}
      description="This machine learning model was trained using YOLOv8 using a face mask dataset with 3 classes: (1) with mask, (2) without mask, (3) mask weared incorrect. This project was made in fulfillment of our machine learning course.."
      tools="Python, YOLOv8, Jupyter Notebook"
    />

    <ProjectCardv2
      id="waste-class-ml"
      img_src="/assets/proj-machine-learning-icon.png"
      project_name="Waste Classification Model"
      project_link="https://github.com/JCU25/Waste-Classification-Model.git"
      project_types={[
        { type: "Machine Learning", className: "machine-learning" },
      ]}
      timeline="November 2023"
      roles={["Model Trainer (November 2023)"]}
      contributions={[
        "Researched datasets for training the model to detect different types of wastes.",
        "Trained dataset on YOLOv8 models.",
        "Tested model detection capabilities through random images in Jupyter notebook.",
      ]}
      description="This machine learning model was trained using YOLOv8 using the EE297_Project.v4i.yolov8 dataset from Roboflow Universe. This project was made in fulfillment of our machine learning course."
      tools="Python, YOLOv8, Jupyter Notebook"
    />
  </div>
</Layout>

<style>
  h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin: 10% 0 5% 0;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    text-decoration: underline;
  }

  .flex {
    display: flex;
  }

  .main-category-outline-container {
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .category-outline-conteiner {
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .projects {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      margin: 50px 0 30px 0;
    }

    a {
      text-decoration: none;
      color: #000000;
    }

    a:hover {
      text-decoration: underline;
    }

    .main-category-outline-container {
      gap: 15px;
    }

    .category-outline-conteiner {
      gap: 50px;
    }

    .flex {
      display: flex;
    }

    .main-category-outline-container {
      gap: 15px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .category-outline-conteiner {
      gap: 50px;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 630px) {
    .projects {
      margin: 40px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: 32px;
      font-weight: 400;
      text-align: center;
      margin: 30% 0 10% 0;
    }

    a {
      text-decoration: none;
      color: #000000;
    }

    a:hover {
      text-decoration: underline;
    }

    .flex {
      display: flex;
    }

    .main-category-outline-container {
      gap: 5px;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      /* flex-direction: row; */
    }

    .category-outline-conteiner {
      gap: 10px;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }
</style>
