---
import Certificate from './Certificate.astro'
---

<div class="certificate-container">
  <Certificate 
    certificate_title="Cert 1"
    date="date year",
    img_src=""
    href=""
  />
  <Certificate 
    certificate_title="Cert 1"
    date="date year",
    img_src=""
    href=""
  />
  <Certificate 
    certificate_title="Cert 1"
    date="date year",
    img_src=""
    href=""
  />
  <Certificate 
    certificate_title="Cert 1"
    date="date year",
    img_src=""
    href=""
  />
</div>


<style>
  .certificate-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 35vh;
    padding: 0;
    background: #c9d9d9;
    border-radius: 10px;
    padding: 3%;
    white-space: nowrap;
    overflow: auto;
  }

  .certificate-container::-webkit-scrollbar {
    height: 10px;
  }

  .certificate-container::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .certificate-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
</style>