<footer>
  <div class="columns">
    <a href="">
      <p class="name">Janelle Uy</p>
    </a>
    
    <a href="/about-me">
      <p>About me</p>
    </a>

    <a target="_blank" href="">
      <p>Contact me</p>
    </a>
  </div>

  <div class="columns">
    <p>Links:</p>

    <a target="_blank" href="https://www.linkedin.com/in/janelle-cassandra-uy">
    <div class="link-div">
        <img class="icon" src="./src/assets/icons/footer_linkedin.png" alt="asd">

        <p>Janelle Uy</p>
    </div>
  </a>

    <a target="_blank" href="https://github.com/JCU25">
      <div class="link-div">
          <img class="icon" src="./src/assets/icons/footer_github.png" alt="">
        
          <p>someEmail@example.com</p>
      </div>
    </a>

    <a target="_blank" href="">
      <div class="link-div">
          <img class="icon" src="./src/assets/icons/footer_email.png" alt="">
          <p>@JCU25</p>
      </div>
    </a>
  </div>
</footer>


<style>
  * {
    color: #E9D0B6;
    background-color: #000000;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 30vh;
  }

  .columns {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .name {
    font-weight: 800;
    font-size: 1.2rem;
  }

  .link-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .icon {
    width: 25px;
  }

  a:hover {
    transform: scale(1.1);
  }



</style>