<footer>
    <div class="info-container">
        <div class="column">
            <a class="heading name" href="/"><p>JANELLE UY</p></a>
            <div class="column-child-div">
                <p>Contact Me:</p>
                <div class="icons-div">
                    <a href="https://github.com/JCU25" target="_blank"><img src="/assets/github-vector.svg" alt="github"></a>
                    <a href="https://www.linkedin.com/in/janelle-cassandra-uy" target="_blank"><img src="/assets/linkedin-vector.svg" alt="linkedin"></a>
                    <a href="mailto:janellecc.uy@gmail.com" target="_blank"><img src="/assets/mail-icon-vector.svg" alt="gmail"></a>    
                </div>
            </div>
        </div>
        
        <div class="column">
            <h3 class="heading">Services</h3>
            <div class="column-child-div">
                <p>Web Development</p>
                <p>Software Development</p>
                <p>API Creations</p>
                <p>AI Model Training</p>
            </div>
        </div>
    
        <div class="column">
            <h3 class="heading">Pages</h3>
            <div class="column page-link-div">
                <a class="page-link" href="/about-me">About Me</a>
                <a class="page-link" href="/projects">My Projects</a>
            </div>
        </div>
    </div>

    <p>Copyright © 2024 | All rights reserved.</p>
</footer>


<style>
    footer {
        margin-top: 100px;
        border-top: 1px solid black;
        padding: 50px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px
    }

    .info-container {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 180px;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .column-child-div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .heading {
        padding: 0;
        font-family: "Libre Franklin", sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
        color: black;
        text-decoration: none;
    }

    .name:hover {
        color: #90420A;
    }

    .icons-div {
        display: flex;
        flex-direction: row;
        gap: 10px;

        img {
            width: 30px;
        }
    }

    .page-link-div {
        display: flex;
        gap: 14px;
    }

    .page-link {
        color: #000000;
        text-decoration: none;
    }

    .page-link:hover {
        color: #90420A;
        text-decoration: none;
    }


    @media screen and (max-width:830px) {
        footer {
            margin-top: 100px;
            border-top: 1px solid black;
            padding: 50px 0 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px
        }

        .info-container {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            gap: 70px;
        }

        .column {
            display: flex;
            flex-direction: column;
        }

        .column-child-div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .heading {
            padding: 0;
            font-family: "Libre Franklin", sans-serif;
            font-weight: 700;
            margin-bottom: 20px;
            color: black;
            text-decoration: none;
        }

        .name:hover {
            color: #90420A;
        }

        .icons-div {
            display: flex;
            flex-direction: row;
            gap: 10px;

            img {
                width: 30px;
            }
        }

        .page-link-div {
            display: flex;
            gap: 14px;
        }

        .page-link {
            color: #000000;
            text-decoration: none;
        }

        .page-link:hover {
            color: #90420A;
            text-decoration: none;
        }
    }
</style>