<header>
  <a href="#Projects">
    <button class="proj-button">
      Projects
    </button>
  </a>

  <a href="#Certificates">
    <button class="cert-button">
      Certificates & Licenses
    </button>
  </a>
</header>

<!-- styling  -->
<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    /* overflow: auto; */
  }

  a {
    margin-left: 1%;
  }

  button{
    height: 25px;
    
  }

  .proj-button {
    background-color: #094848;
    color: #FFFFFF;
  }
  .proj-button:hover {
    background-color: #126565;
    color: #FFFFFF;
  }
  .cert-button {
    background-color: #B3D3D3;
    color: #000000;
  }
  .cert-button:hover {
    background-color: rgb(211, 234, 234);
    color: #000000;
  }
</style>