<div class="main-flex">
  <div class="flex-left">
    <img class="avatar" src="" alt="My Avatar">
    <div class="icon-div">
      <a target="_blank" href="https://linkedin.com/in/janelle-cassandra-uy">
        <img class="icons" src="./src/assets/icons/introduction_linkedin.png" alt="">
      </a>

      <a target="_blank" href="">
        <img class="icons" src="./src/assets/icons/introduction_email.png" alt="">
      </a>
      
      <a target="_blank" href="https://github.com/JCU25">
        <img class="icons" src="./src/assets/icons/introduction_github.png" alt="">
      </a>
    </div>
  </div>

  <div class="flex-right">
    <h2 class="greetings">Hi! Im <span class=my-name>Janelle</span>.</h2>
    <div class="bio">
      <p>
        I am currently a <span class="accent">backend developer</span>; 
        I like designing databases and backend functionalities.
        I am also aspiring to be a fullstack developer.  
      </p>

      <br>

      <p>
        I love learning new things, and putting them into practice.
        Currently, I am also learning about frontend development, and UI/UX design.  
      </p>
    </div>

    <a href="/about-me">
      <button class="about-me-button">
        <div>
          Learn more about me
        </div>
        <div class="arrow-right">
          (add icon)
        </div>
      </button>  
    </a>
  </div>
</div>

<!----- styling --- -->
<style>

  * {
    color: #E1E1E1;
    text-align: justify;
  }

  .main-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: 100vh;
    background-image: linear-gradient(to right, #072D2D, #000000);    
  }

  .flex-left {
    padding: 0 5% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
  }

  .avatar {
    height: 40vh;
    width: 40vh;
    border-style: dashed;
    border-color: #000000;
    border-radius: 50%;
    text-align: center;
  }

  .icon-div {
    margin-top: 8.5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 5%;
  }

  .icons {
    width: 35px;
  }

  .flex-right {
    padding: 0 25% 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50vw;
    height: 100%;
  }

  .greetings {
    font-weight: normal;
    font-size: 1.5rem;
  }

  .bio {
    margin: 10% 0 14% 0;
  }

  .my-name {
    color: #FFCF96;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .accent {
    color: #FFFFFF;
    font-weight: 800;
  }

  .about-me-button {
    flex-direction: row;
    text-align: left;
    padding: 13px 25px;
    background-color: #094848;
  }
  .about-me-button:hover {
    background-color: #74a5a5;
    font-size: 1rem;
    color: #000000
  }

  .arrow-right{
    margin-left: 20px;
  }
</style>