---
import Project from './Project.astro'
---

<body>
  
  <div >
    <div>
      <Project
      project_name="Project OCP"
      role="Backend Lead"
      time_frame=" June 2022-Present"
      description="A website created for the Mapua Malayan Colleges Mindanao (MMCM) Office for Corporate Partnerships (OCP) to keep track of partnerships and student interns."
      img_src="./src/assets/Project_OCP.png"
      href="https://mmcm-ocp.com"
      />
    </div>
    
    <Project
    project_name="Project OCP"
    role="Backend Developer"
    time_frame="March 2022- June 2022"
    description="A website created for the Mapua Malayan Colleges Mindanao (MMCM) Office for Corporate Partnerships (OCP) to keep track of partnerships and student interns."
    img_src="./src/assets/Project_OCP.png"
    href="https://mmcm-ocp.com"
    />
    
    <Project
    project_name="Discord Bot for MMCM Cup 2021 Mobile Legends Competition"
    role="Lead Developer"
    time_frame="March 2021"
    description="Created a discord bot for Mapua Malayan Colleges Mindanao (MMCM) during the MMCM Cup to manage the registration, roles, and permisions of participants from different schools to the discord server."
    img_src=""
    href=""
    />
  
    <Project
    project_name="Discord Bot for Registering MMCM CCIS Students"
    role="Developer"
    time_frame="May 2022"
    description="Altered an existing discord bot for Mapua Malayan Colleges Mindanao (MMCM) College of Computer and Information Science (CCIS) to manage the population and filter out the unenrolled students from the department discord server."
    img_src=""
    href=""
    />
    
    <Project
    project_name="MMCM CCIS Website"
    role="Backend Developer"
    time_frame="July 2021- August 2021"
    description="A website created for students to build their portfolio, and to engage with the community. The website also includes contents such as blogs, list of faculty/student officers, etc. I created the backend functionalities for the faculty and student leaders page; This allows the admins in the website to add the list of faculty and student officers per school time_frame."
    img_src=""
    href=""
    />
  </div>
</body>

<!-- styling -->
<style>
  Project:hover {
    background-color: black;
  }

</style>